* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #FF7602;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, strong, b, a, button {
  font-weight: 500;
}
